[Unit]  
Description=Check for LR3PRO device and execute crsf-app -bind  
After=syslog.target network.target  
  
[Service]  
Type=simple  
ExecStart=/usr/bin/check_device.sh  
Restart=always
RestartSec=10 # 等待10秒后再尝试重新启动  
  
[Install]  
WantedBy=multi-user.target
